@page "/exploration"

<PageTitle>Exploration</PageTitle>

<h1>Control Robuddy</h1>

<div>
    <h3>Start/Stop Exploration</h3>

    @if (isStarted)
    {
        <button style="margin-top: 20px" class="btn btn-danger" @onclick="ToggleState">Stop</button>
    }
    else
    {
        <button style="margin-top: 20px" class="btn btn-success" @onclick="ToggleState">Start</button>
    }

</div>

@code {
    private bool isStarted = false;

    private void ToggleState()
    {
        isStarted = !isStarted;
    }

    private void SubmitForm()
    {
        // Call the StartExploration method
        StartExploration();
    }
}
